html {
background-color: lightgray;
}
#turtleWins {
  width: 640px;
  height: 480px;
  margin: 12% 23%;
  border-radius: 20px;
  box-shadow: 5px 5px green;
}
#gratz {
  color: blue;
  padding-top: 60px;
  font-size: 60px;
  font-size: 60px;
  text-align: center;
}
#home {
  text-align: center;
  font-size: 16px;
  width: 120px;
  height: 40px;
  border-radius: 40px;
  background-color: rgba(255,219,13,.8);
  cursor: pointer;
  border: 1px solid black;
  padding-top: 12px;
  margin-left: 45%;
}
#bottom {
  text-decoration: none;
  font-size: 20px;
  color: black;
}
